*
  box-sizing: border-box
  text-decoration: none

body
  margin: 0
  padding: 0
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif
  background: url("./images/pattern.svg") center center no-repeat
  background-size: cover
  min-width: 1000px

h1,h2,h3
  font-weight: 300

.col
  display: flex
  flex-direction: column

.row
  display: flex

//============

.navbar
  min-height: 60px
  max-height: 60px

.home-btn
  margin-left: 20px
  font-size: 24px
  color: rgba(black, 0.6)
  &:hover
    color: rgba(black, 0.8)

.app-container
  height: 100vh

header
  background: whitesmoke
  justify-content: space-between
  align-items: center
  padding: 0 10px
  box-shadow: 0 1px 5px rgba(black, 0.2), 0 -1px 5px rgba(black, 0.2)

main
  justify-content: center
  align-items: center
  height: 100%

.home
  h1
    margin-bottom: 0

.form
  width: 300px
  align-items: center
  input
    font-size: 13px
    margin: 10px
    width: 160px
    padding: 10px 2px 6px
    border: none
    background: transparent
    border-bottom: 2px solid rgba(black, 0.6)
    &:focus
      outline: none

.btn
  margin: 10px 0
  padding: 8px
  cursor: pointer
  transition: all 0.2s ease
  background: desaturate(green, 10%)
  border: 1px solid desaturate(green, 10%)
  color: white
  font-size: 12px
  &:hover
    box-shadow: 0 1px 5px rgba(black, 0.2), 0 -1px 5px rgba(black, 0.2)
  &:focus
    outline: 0
  &:active
    border: 1px solid darken(green, 4%)
    background: darken(green, 4%)

.weather
  background: transparent
  h1, h2
    text-align: center

.city-temp-cont
  h1
    margin-bottom: 0
  h2
    margin-top: 4px

.week-cont
  width: 100%
  flex-wrap: wrap
  justify-content: center


.day-cont
  color: black
  background: rgba(white, 0.1)
  margin: 6px
  cursor: pointer
  flex-basis: 25%
  justify-content: center
  align-items: center
  height: 290px
  transition: all 0.2s
  min-width: 300px
  img
    width: 30%
    height: auto
  &:hover
    background: rgba(white, 0.2)
    transform: scale(1.01)

.detail-cont
  margin: 30px auto
  width: 500px
  height: 600px
  justify-content: space-around
  align-items: center
  background: rgba(white, 0.1)
  p
    font-size: 20px
    margin: 2px
  img
    width: 40%
    height: auto
  button
    width: 100%
    color: rgba(white, 0.2)
    margin: 20px auto 0
    padding: 10px
    background: transparent
    border: none
    font-size: 40px
    cursor: pointer
    transition: color 0.3s
    &:focus
      outline: none
    &:hover
      color: rgba(white, 0.7)
