*
  box-sizing: border-box
  text-decoration: none

.home-btn
  font-size: 24px
  color: #666

body
  margin: 0
  padding: 0
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif
  background: url("./images/pattern.svg") center center no-repeat
  background-size: cover

.col
  display: flex
  flex-direction: column

.row
  display: flex

.app-container
  height: 100vh

header
  background: white
  justify-content: space-between
  align-items: center
  padding: 0 10px
  border-bottom: 2px solid black

main
  justify-content: center
  align-items: center
  height: 100%

.btn
  padding: 8px
  cursor: pointer
  transition: all 0.2s ease
  background: desaturate(green, 10%)
  border: 1px solid desaturate(green, 10%)
  border-radius: 5px
  color: white
  font-size: 12px
  &:hover
    box-shadow: 0 1px 5px black, 0 -1px 5px black
  &:focus
    outline: 0
  &:active
    box-shadow: inset 0 1px 5px black, 0 -1px 5px black

.form
  width: 300px
  align-items: center
  input
    margin: 10px
    width: 190px
    padding: 10px

.forecast
  background: transparent
  h1
    font-weight: 300
    text-align: center

.week-cont
  width: 100%
  flex-wrap: wrap
  justify-content: center

.day-cont
  color: black
  background: rgba(white, 0.1)
  margin: 10px
  border-radius: 5px
  cursor: pointer
  flex-basis: 25%
  justify-content: center
  align-items: center
  height: 300px
  transition: all 0.2s
  img
    width: 30%
    height: auto
  h2, h3
    font-weight: 300
  &:hover
    transform: scale(1.03)

.detail-cont
  height: 80%
  justify-content: center
  align-items: center
  background: rgba(white, 0.1)
